{% extends "base.html" %}

{% block page_title %}
Add Recipes!
{% endblock %}

{% block H1_Description %}
<br xmlns="http://www.w3.org/1999/html"><br><br>
    <h1 class="page-title">Add Recipes!</h1>
{% endblock %}

{% block H1_Content %}
    <br>
    <h2 class="greeting">This page of Marcus' Recipe Website allows you to add a recipe to the website!</h2>
    <br>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="{{ url_for('add_recipe') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name"><strong>Recipe Name:</strong></label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="image"><strong>Image:</strong></label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="ingredients"><strong>Ingredients:</strong></label>
                <textarea id="ingredients" name="ingredients" required></textarea>
            </div>
            <div class="form-group">
                <label for="preparation"><strong>Preparation Instructions:</strong></label>
                <textarea id="preparation" name="preparation" required></textarea>
            </div>
            <div class="form-group">
                <label for="serving"><strong>Serving Instructions:</strong></label>
                <input type="text" id="serving" name="serving" required>
            </div>
            <input type="submit" value="Add Recipe">
        </form>
    </div>
{% endblock %}

{% block body_class %}add-recipe-background{% endblock %}