{% extends "base.html" %}

{% block page_title %}
Add Recipes!
{% endblock %}

{% block H1_Description %}
This is the add recipe page!
{% endblock %}

{% block H1_Content %}
This page of Marcus' Recipe Website allows you to add a recipe to the website!
{% endblock %}

{% block content %}
    <form action="{{ url_for('add_recipe') }}" method="post" enctype="multipart/form-data">
        <label for="name">Recipe Name:</label>
        <input type="text" id="name" name="name" required><br>
        <br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required><br>
        <br>
        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="ingredients" required></textarea><br>
        <br>
        <label for="preparation">Preparation Instructions:</label>
        <textarea id="preparation" name="preparation" required></textarea><br>
        <br>
        <label for="serving">Serving Instructions:</label>
        <input type="text" id="serving" name="serving" required><br>
        <br>
        <input type="submit" value="Add Recipe">
    </form>
{% endblock %}